<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DensiPaperImageEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <DensiPaperImageEditor.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="url" serializeAs="String">
                <value>https://portal.densipaper.com</value>
            </setting>
            <setting name="fontsize" serializeAs="String">
                <value />
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="expire" serializeAs="String">
                <value />
            </setting>
            <setting name="replace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="background" serializeAs="String">
                <value />
            </setting>
            <setting name="layout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="portrait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="landscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="devicetype1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="devicetype2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="devicetype3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="devicetype4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="profilenames" serializeAs="String">
                <value />
            </setting>
        </DensiPaperImageEditor.Properties.Settings>
    </userSettings>
</configuration>
